.graph-area{
    display: flex;
    justify-content: center;
}

.hourly-card{
    width: 60vw;
    margin: 1em auto;
}

.btns{
    display: flex;
    justify-content: center;
}

.hour-btn{
    width: 100%;
    padding-top: 1em;
}

.hour-img{
    padding: 0 0.5em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.hour-text{
    text-align: center;
}

.hovered-card{
    background-color: #E8E9EB;
    border: 2px #CCCDC6 solid; 
}

.selected-card{
    border-bottom:2px black solid;
}
